// COLORS
$color-black: #000;
$color-white: #fff;
$color-theme: #25C2D9;
$color-bg: #04161C;
$color-popup: #7AB1CC;
$color-red: #FF4D4D;
$color-green: #00AE26;

// FONTS
$font-name: "FontName", Arial, sans-serif;
$font-Poppins: 'Poppins';

// TRANSITIONS
$transition-duration: 0.35s;
$transition-timing-function: ease;
$transition: $transition-duration $transition-timing-function;

// SETTINGS
$desktop-xxl: 2560;
$desktop-xl: 1920;
$desktop-lg: 1680;
$desktop-md: 1440;
$desktop-sm: 1366;
$desktop-xs: 1280;
$desktop: 1024;
$tablet: 1024;
