-  const dataHeader = [{link: '', name: 'Get Launchbox'},{link: '', name: 'Games D8'},{link: '', name: 'Forums'},{link: '', name: 'Tutorials'},{link: '', name: 'Download'},{link: '', name: 'Big box'},{link: '', name: 'My collection'},]
header.header
    .container.df.al-center.ju-space-between
        a.header-logo(href="/")
            img(src=`${baseDir}assets/images/logo.png`)

        ul.header-menu.df.al-center
            each item in dataHeader
                li
                    a(href=item.link)
                        != item.name
        .header-right
            .header-search
                .header-search-button
                    +svg('search')
            .header-lk
                .header-isLog.js-modal(data-modal="login")
                    +svg('enter')
                    //img(src=`${baseDir}assets/images/face.png`)
.modal.is-hidden(data-modal="login")
    .modal-bg
    .modal-content
        .modal-close
            +svg('close')
        .login

            .tabs
                .title-sm.mb-26
                    | Please Sign In#[br] or sign up
                .tabs-top.df.ju-space-between.js-tabs.al-center(data-tabs-target="#tabs-containers")
                    .tabs-navigation.background.df
                        .tabs-link.is-active.js-tab(data-tab-target="tab-login")
                            | Sign in
                        .tabs-link.js-tab(data-tab-target="tab-reg")
                            | Sign up



                .tabs-content(data-tabs-target="#tabs-containers" id="tabs-containers")
                    .tabs-inner.js-tabs-container.tab-1.is-active(id="tab-login")
                        form
                            .input
                                input(placeholder="Enter email" type="text")
                            .input
                                input(placeholder="Enter password" type="password")
                            .text.text-color.text-right.js-tab(data-tab-target="tab-forgot")
                                | Forgot password?
                            label.checkbox.df.al-center
                                input(type="checkbox")
                                span
                                | Remember me
                            button.form-button(type="submit")
                                | Sign in

                    .tabs-inner.js-tabs-container.is-hidden(id="tab-reg")
                        form
                            .input
                                input(placeholder="Enter email" type="text")
                            .input
                                input(placeholder="Enter password" type="text")
                            .input
                                input(placeholder="Confirm password" type="text")
                            .input
                                input(placeholder="Game tag (public)" type="text")
                            button.form-button(type="submit")
                                | Sign up
                    .tabs-inner.js-tabs-container.is-hidden(id="tab-forgot")
                        form
                            .input
                                input(placeholder="Enter email" type="text")
                            button.form-button(type="submit")
                                | submit




