footer.footer.container.df.al-center.ju-space-between

    a.footer-logo(href="/")
        img(src=`${baseDir}assets/images/logo.png`)

    ul.footer-menu.df.al-center

        li
            a(href="")
                | Privacy Policy
        li
            a(href="")
                | Terms of Use
    .footer-right
        .footer-prod
            | Made by
            a(href="https://roobinium.io/" target="_blank")
                | roobinium.io
                +svg('roobinium')
